<div class="top-nav">
<ul class="nav-right pull-right list-unstyled">
	<li class="dropdown text-normal nav-profile">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<img src="https://pbs.twimg.com/profile_images/471290748520767489/uVbWP1aL_400x400.jpeg" class="img-circle" width="30"/>
			<span class="hidden-xs">Felix Barros</span>
		</a>
		<ul class="dropdown-menu with-arrow pull-right">
			<li><a href="#/profile"><i class="fa fa-user"></i> My Profile</a></li>
			<li><a href="login.html"><i class="fa fa-sign-out"></i> Log Out</a></li>
		</ul>
	</li>
</ul>
</div>