<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<div class="pull-left">
			<input type="text" class="form-control" placeholder="Search" ng-model="searchText">
		</div>
		<div class="pull-right">
			<button type="button" class="btn btn-success" ng-click="create()"><span class="glyphicon glyphicon-plus"></span> Create</button>
		</div>
	</div>
	<table class="table table-hover table-responsive" ng-controller="PatientListController">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>DNI</th>
				<th>Created at</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="patient in patients | filter:searchText">
				<td>{{ patient.id }}</td>
				<td>{{ patient.first_name }}</td>
				<td>{{ patient.last_name }}</td>
				<td>{{ patient.dni }}</td>
				<td>{{ patient.created_at }}</td>
				<td><button type="button" class="btn btn-primary btn-xs" tooltip="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
				<button type="button" class="btn btn-danger btn-xs" tooltip="Delete" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></button></td>
			</tr>
		</tbody>
	</table>
</div>
